.padding {
  padding: 40px 0;
}

.ordersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.productsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
